<!--suppress TypeScriptValidateTypes -->
<div class="flex w-full flex-col">
  @if (isLoading) {
    <div class="absolute inset-x-0 top-0">
      <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
  }
  <p-toolbar styleClass="mb-6" class="">
    <ng-template #start>
      <p-button (onClick)="openNew()" class="mr-2" icon="pi pi-plus" label="New" severity="primary" />
    </ng-template>
    <ng-template #end>
      <!-- Future export functionality can go here -->
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="hospitalResource.value()"
    [globalFilterFields]="['name', 'city']"
    [paginator]="true"
    [rowHover]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
    [rows]="10"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '75rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} hospitals"
    dataKey="hospital_id"
    [loading]="isLoading"
  >
    <ng-template #caption>
      <div class="flex items-center justify-between">
        <h5 class="m-0">Manage Hospitals</h5>
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input (input)="onGlobalFilter(dt, $event)" pInputText placeholder="Search..." type="text" />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th pSortableColumn="name" style="min-width: 16rem">
          Name
          <p-sortIcon field="name" />
        </th>
        <th pSortableColumn="city" style="min-width: 10rem">
          City
          <p-sortIcon field="city" />
        </th>
        <th style="min-width: 4rem">Action</th>
      </tr>
    </ng-template>
    <ng-template #body let-hospital>
      <tr>
        <td style="min-width: 16rem">{{ hospital.name }}</td>
        <td>{{ hospital.city }}</td>
        <td>
          <p-button (click)="editHospital(hospital)" [outlined]="true" [rounded]="true" class="mr-2" icon="pi pi-pencil" />
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog
    [(visible)]="hospitalDialogToggle"
    [modal]="true"
    [style]="{ width: '450px', height: '350px' }"
    [resizable]="false"
    [draggable]="true"
    header="Hospital Details"
  >
    <ng-template #content>
      <form [formGroup]="hospitalForm" class="flex flex-col gap-4">
        <!--Name-->
        <div>
          <label class="block font-bold" for="name">Name</label>
          <input formControlName="name" autofocus fluid="true" id="name" pInputText type="text" />
          <small *ngIf="isSubmittedForm && f['name'].errors?.['required']" class="text-red-500">Name is required.</small>
        </div>
        <!--City-->
        <div>
          <label class="block font-bold" for="city">City</label>
          <input formControlName="city" fluid="true" id="city" pInputText type="text" />
          <small *ngIf="isSubmittedForm && f['city'].errors?.['required']" class="text-red-500">City is required.</small>
        </div>
      </form>
    </ng-template>

    <ng-template #footer>
      <div class="">
        <p-button (click)="hideDialog()" icon="pi pi-times" label="Cancel" text="true" />
        <p-button (click)="saveHospital($event)" icon="pi pi-check" label="Save" />
      </div>
    </ng-template>
  </p-dialog>
</div>
<p-toast />
<p-confirm-popup baseZIndex="99" />
