<!-- Button -->
<button mat-icon-button [matMenuTriggerFor]="userActions">
  <span class="relative">
    @if (showAvatar && user.avatar) {
      <img class="h-7 w-7 rounded-full" [src]="user.avatar" alt="" />
    }
    @if (!showAvatar || !user.avatar) {
      <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
    }
  </span>
</button>

<mat-menu [xPosition]="'before'" #userActions="matMenu">
  <button mat-menu-item>
    <span class="flex flex-col leading-none">
      <span class="font-nghe-nghe pt-1 text-3xl text-pink-500">Xin chào {{ user.name }}</span>
      <span class="text-md mt-1.5 font-medium">{{ user.email }}</span>
    </span>
  </button>
  <mat-divider class="my-2"></mat-divider>
  <button mat-menu-item [matMenuTriggerFor]="profile_menu">
    <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
    <span>Hồ sơ</span>
  </button>
  <button mat-menu-item>
    <mat-icon [svgIcon]="'heroicons_outline:cog-8-tooth'"></mat-icon>
    <span>Cài đặt</span>
  </button>
  <button mat-menu-item (click)="payment.click()">
    <mat-icon [svgIcon]="'heroicons_outline:wallet'"></mat-icon>
    <span>Lịch sử thanh toán</span>
    <a hidden [routerLink]="'/payment'" #payment></a>
  </button>
  @if (isAdmin()) {
    <button mat-menu-item (click)="admin.click()">
      <mat-icon [svgIcon]="'heroicons_outline:command-line'"></mat-icon>
      <span>Admin</span>
      <a hidden [routerLink]="'/admin'" #admin></a>
    </button>
  }
  <mat-divider class="my-2"></mat-divider>
  <button mat-menu-item (click)="signOut()">
    <mat-icon [svgIcon]="'heroicons_outline:arrow-right-on-rectangle'"></mat-icon>
    <span>Đăng xuất</span>
  </button>
</mat-menu>

<!--<mat-menu class="user-status-menu" #userStatus="matMenu">-->
<!--  <button mat-menu-item (click)="updateUserStatus('online')">-->
<!--    <span class="mr-3 inline-flex h-4 w-4 rounded-full bg-green-500"></span>-->
<!--    <span>Online</span>-->
<!--  </button>-->
<!--  <button mat-menu-item (click)="updateUserStatus('away')">-->
<!--    <span class="mr-3 inline-flex h-4 w-4 rounded-full bg-amber-500"></span>-->
<!--    <span>Away</span>-->
<!--  </button>-->
<!--  <button mat-menu-item (click)="updateUserStatus('busy')">-->
<!--    <span class="mr-3 inline-flex h-4 w-4 rounded-full bg-red-500"></span>-->
<!--    <span>Busy</span>-->
<!--  </button>-->
<!--  <button mat-menu-item (click)="updateUserStatus('not-visible')">-->
<!--    <span class="mr-3 inline-flex h-4 w-4 rounded-full bg-gray-400"></span>-->
<!--    <span>Invisible</span>-->
<!--  </button>-->
<!--</mat-menu>-->

<mat-menu class="user-status-menu" #profile_menu="matMenu">
  <button mat-menu-item (click)="profile()">
    <span>Hồ sơ</span>
  </button>
  <button mat-menu-item (click)="changePassword()">
    <span>Đổi mật khẩu</span>
  </button>
</mat-menu>
