<!-- Button -->
<button mat-icon-button [matMenuTriggerFor]="userActions">
  <span class="relative">
    @if (showAvatar && user.avatar) {
      <img class="h-7 w-7 rounded-full" [src]="user.avatar" alt="" />
    }
    @if (!showAvatar || !user.avatar) {
      <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
    }
    <span
      class="absolute bottom-0 right-0 h-2 w-2 rounded-full bg-red-500"
      [ngClass]="{
        'mb-px mr-px': !showAvatar || !user.avatar,
        'bg-green-500': user.onlineStatus === 'online',
        'bg-amber-500': user.onlineStatus === 'away',
        'bg-red-500': user.onlineStatus === 'busy',
        'bg-gray-400': user.onlineStatus === 'not-visible',
      }"
    ></span>
  </span>
</button>

<mat-menu [xPosition]="'before'" #userActions="matMenu">
  <button mat-menu-item>
    <span class="flex flex-col leading-none">
      <span>Signed in as {{ user.name }}</span>
      <span class="text-md mt-1.5 font-medium">{{ user.email }}</span>
    </span>
  </button>
  <mat-divider class="my-2"></mat-divider>
  <button mat-menu-item [matMenuTriggerFor]="profile_menu">
    <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
    <span>Profile</span>
  </button>
  <button mat-menu-item>
    <mat-icon [svgIcon]="'heroicons_outline:cog-8-tooth'"></mat-icon>
    <span>Settings</span>
  </button>
  @if (isAdmin()) {
    <button mat-menu-item (click)="admin.click()">
      <mat-icon [svgIcon]="'heroicons_outline:command-line'"></mat-icon>
      <span>Admin</span>
      <a hidden [routerLink]="'/admin'" #admin></a>
    </button>
  }
  <mat-divider class="my-2"></mat-divider>
  <button mat-menu-item (click)="signOut()">
    <mat-icon [svgIcon]="'heroicons_outline:arrow-right-on-rectangle'"></mat-icon>
    <span>Sign out</span>
  </button>
</mat-menu>

<!--<mat-menu class="user-status-menu" #userStatus="matMenu">-->
<!--  <button mat-menu-item (click)="updateUserStatus('online')">-->
<!--    <span class="mr-3 inline-flex h-4 w-4 rounded-full bg-green-500"></span>-->
<!--    <span>Online</span>-->
<!--  </button>-->
<!--  <button mat-menu-item (click)="updateUserStatus('away')">-->
<!--    <span class="mr-3 inline-flex h-4 w-4 rounded-full bg-amber-500"></span>-->
<!--    <span>Away</span>-->
<!--  </button>-->
<!--  <button mat-menu-item (click)="updateUserStatus('busy')">-->
<!--    <span class="mr-3 inline-flex h-4 w-4 rounded-full bg-red-500"></span>-->
<!--    <span>Busy</span>-->
<!--  </button>-->
<!--  <button mat-menu-item (click)="updateUserStatus('not-visible')">-->
<!--    <span class="mr-3 inline-flex h-4 w-4 rounded-full bg-gray-400"></span>-->
<!--    <span>Invisible</span>-->
<!--  </button>-->
<!--</mat-menu>-->

<mat-menu class="user-status-menu" #profile_menu="matMenu">
  <button mat-menu-item (click)="profile()">
    <span>Profile</span>
  </button>
  <button mat-menu-item (click)="changePassword()">
    <span>Change Password</span>
  </button>
</mat-menu>
