/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

@import 'primeicons/primeicons.css';

html {
  overflow-y: scroll;
}
//@layer tailwind-base, primeng, tailwind-utilities;
//
//@layer tailwind-base {
//  @tailwind base;
//}
//
//@layer tailwind-utilities {
//  @tailwind components;
//  @tailwind utilities;
//}

:root {
  --p-confirmpopup-gutter: 0 !important;
}

.style-script-regular {
  font-family: 'Style Script', cursive;
  font-weight: 100;
  font-style: normal;
}

:root .p-overlay {
  overflow: visible !important;
}
