>
<img src="logo_name_bgt.png" alt="logo" />
<header tuiHeader>
  <h1 tuiTitle>Đăng nhập</h1>
</header>
<tui-textfield>
  <label tuiLabel>Email</label>
  <input placeholder="Type your email" tuiTextfield type="email" />
</tui-textfield>
<tui-textfield>
  <label tuiLabel>Password*</label>
  <input placeholder="Type your password" tuiTextfield type="password" />
  <tui-icon tuiPassword />
</tui-textfield>
<footer>
  <button tuiButton type="submit">Login</button>
</footer>
<google-button id="google"></google-button>
</form>
