<!--block left: form-->
<div class="m-auto w-2/3">
  <!-- Logo -->
  <div class="mx-auto w-24">
    <img src="/images/logo/logo.svg" alt="logo" />
  </div>

  <!-- Title -->
  <div class="mt-8 text-center text-4xl font-extrabold leading-tight tracking-tight">Đăng kí</div>

  <!-- Alert -->
  @if (showAlert()) {
    <fuse-alert class="mt-8" [appearance]="'outline'" [showIcon]="false" [type]="alert.type" [@shake]="alert.type === 'error'">
      {{ alert.message }}
    </fuse-alert>
  }

  <!-- Sign Up form -->
  <form class="mt-8" [formGroup]="signUpForm" #signUpNgForm="ngForm">
    <!-- Email field -->
    <mat-form-field class="w-full">
      <mat-label>Email</mat-label>
      <input id="email" matInput [formControlName]="'email'" />
      @if (signUpForm.get('email').hasError('required')) {
        <mat-error> Vui lòng nhập địa chỉ email</mat-error>
      }
      @if (signUpForm.get('email').hasError('email')) {
        <mat-error> Vui lòng nhập một địa chỉ email hợp lệ</mat-error>
      }
    </mat-form-field>

    <!-- Password field -->
    <mat-form-field class="w-full">
      <mat-label>Mật khẩu</mat-label>
      <input id="password" matInput type="password" [formControlName]="'password'" #passwordField />
      <button
        mat-icon-button
        type="button"
        (click)="passwordField.type === 'password' ? (passwordField.type = 'text') : (passwordField.type = 'password')"
        matSuffix
      >
        @if (passwordField.type === 'password') {
          <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
        }
        @if (passwordField.type === 'text') {
          <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
        }
      </button>
      <mat-error> Vui lòng nhập mật khẩu</mat-error>
    </mat-form-field>

    <!-- ConfirmedPassword field -->
    <mat-form-field class="w-full">
      <mat-label>Xác nhận mật khẩu</mat-label>
      <input id="confirmedPassword" matInput type="password" [formControlName]="'confirm_password'" #confirmedPasswordField />
      <button
        mat-icon-button
        type="button"
        (click)="confirmedPasswordField.type === 'password' ? (confirmedPasswordField.type = 'text') : (confirmedPasswordField.type = 'password')"
        matSuffix
      >
        @if (confirmedPasswordField.type === 'password') {
          <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
        }
        @if (confirmedPasswordField.type === 'text') {
          <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
        }
      </button>
      <mat-error> Vui lòng nhập xác nhận mật khẩu</mat-error>
    </mat-form-field>

    <!-- ToS and PP -->
    <div class="mt-1.5 inline-flex w-full items-end">
      <mat-checkbox class="-ml-2" [color]="'primary'" [formControlName]="'agreements'">
        <span>Bạn đồng ý</span>
        <a class="text-primary-500 ml-1 hover:underline" [routerLink]="['./']">Điều khoản </a>
        <span>và</span>
        <a class="text-primary-500 ml-1 hover:underline" [routerLink]="['./']">Chính sách bảo mật </a>
      </mat-checkbox>
    </div>
    @if (signUpForm.get('agreements').hasError('required')) {
      <mat-error> Vui lòng đồng ý với Điều khoản và Chính sách bảo mật</mat-error>
    }

    <!-- Submit button -->
    <button class="fuse-mat-button-large mt-6 w-full" mat-flat-button [color]="'primary'" [disabled]="signUpForm.disabled" (click)="signUp()">
      @if (!signUpForm.disabled) {
        <span> Tạo tài khoản ngay </span>
      }
      @if (signUpForm.disabled) {
        <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
      }
    </button>
    <div class="mt-8 flex items-baseline justify-center font-medium">
      <div>Bạn đã có tài khoản?</div>
      <a class="text-primary-500 ml-1 hover:underline" [routerLink]="['/sign-in']">Đăng nhập </a>
    </div>
  </form>
</div>
