<div class="container mx-auto w-full p-4">
  <div class="mb-6 flex w-full flex-col">
    <h2 class="mb-4 text-xl font-semibold text-gray-800">Event Themes</h2>

    <p-button
      label="Create New Theme"
      (click)="openThemeModal()"
      variant="text"
      [raised]="true"
      icon="pi pi-plus"
      [rounded]="true"
      severity="danger"
      badge="2"
      styleClass="m-0 w-full "
      badgeSeverity="contrast"
    />
  </div>

  <div class="mb-4 flex items-center">
    <label class="flex cursor-pointer items-center">
      <input type="checkbox" [(ngModel)]="removeAfterDrop" class="form-checkbox h-5 w-5 text-blue-500" />
      <span class="ml-2 text-gray-700">Remove after dropping</span>
    </label>
  </div>

  <div cdkDropListGroup class="w-full">
    <div class="w-full">
      <div *ngFor="let theme of themes" cdkDrag class="theme-block rounded-lg" [style.background-color]="theme.color">
        <div class="cursor-move rounded-lg p-4 shadow-md" cdkDragHandle>
          <div class="flex items-center justify-between">
            <span class="font-medium text-gray-800">{{ theme.name }}</span>
            <button (click)="deleteTheme(theme)" class="text-gray-600 transition-colors hover:text-red-500">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path
                  fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
