<div style="display: flex; flex-direction: column; align-items: center">
  <mat-radio-group aria-label="Select record" (change)="selectRecord($event)">
    @for (record of $records(); track $index) {
      <mat-radio-button value="{{ currentPageIndex * 5 + $index }}" [checked]="record === $selectedRecord()">
        Lần {{ currentPageIndex * 5 + $index + 1 }}
      </mat-radio-button>
    }
  </mat-radio-group>
  <div style="align-self: flex-end; width: 100%">
    <app-pregnancy-tracking-paging></app-pregnancy-tracking-paging>
  </div>
</div>
