<form [formGroup]="pregnancyForm" class="max-w-2xl mx-auto p-4" tuiForm="l">
  <div class="flex flex-wrap -mx-2">
    <div class="w-full md:w-1/2 px-2 mb-8">
      <tui-input-date formControlName="expectedBirthDate">
        <label tuiLabel>Ngày dự sinh</label>
        <input placeholder="Placeholder" tuiTextfieldLegacy />
      </tui-input-date>
      <tui-error [error]="[] | tuiFieldError | async" formControlName="expectedBirthDate" />
    </div>
    <div class="w-full md:w-1/2 px-2 mb-8">
      <tui-input-date formControlName="nextVisitDate">
        <label tuiLabel>Ngày tái khám</label>
        <input placeholder="Placeholder" tuiTextfieldLegacy />
      </tui-input-date>
      <tui-error [error]="[] | tuiFieldError | async" formControlName="nextVisitDate" />
    </div>

    @if (hospitals | async) {
      <div class="w-full md:w-1/2 px-2 mb-8">
        <tui-select formControlName="hospital">
          <label tuiLabel>Bệnh viện</label>
          <input placeholder="Bệnh viện" tuiTextfieldLegacy />
          <tui-data-list-wrapper *tuiDataList [items]="hospitalNames | async" />
        </tui-select>
        <tui-error [error]="[] | tuiFieldError | async" formControlName="hospital" />
      </div>
    }
    <div class="w-full md:w-1/2 px-2 mb-8">
      <tui-input-date formControlName="visitDoctorDate">
        <label tuiLabel>Ngày khám bác sĩ</label>
        <input placeholder="Placeholder" tuiTextfieldLegacy />
      </tui-input-date>
      <tui-error [error]="[] | tuiFieldError | async" formControlName="visitDoctorDate" />
    </div>
    @for (metric of metrics | async; track $index) {
      <div class="w-full md:w-1/2 px-2 mb-8">
        <tui-textfield>
          <label tuiLabel>{{ metric.title }}</label>

          <input tuiInputNumber formControlName="{{ metric.id }}" />
        </tui-textfield>

        <tui-error [error]="[] | tuiFieldError | async" formControlName="{{ metric.id }}" />
      </div>
    }
    <div class="w-full md:w-1/2 px-2 mb-8">
      <app-file-upload></app-file-upload>
    </div>
  </div>
  <div class="flex flex-wrap">
    @for (src of imgSrcListSignal(); track $index) {
      <app-image-preview [imgObj]="src"></app-image-preview>
    }
  </div>
  <footer class="flex justify-end space-x-2 mt-4">
    <button tuiButton type="submit" appearance="primary">Submit</button>
    <button appearance="outline" tuiButton type="button">Cancel</button>
  </footer>
</form>
