<!--block left: form-->

<div class="m-auto w-2/3">
  <!-- Logo -->
  <div class="mx-auto w-24">
    <img src="/images/logo/logo.svg" alt="logo" />
  </div>
  <!-- Title -->
  <div class="mt-8 text-center text-4xl font-extrabold leading-tight tracking-tight">Đăng nhập</div>

  <!-- Alert -->
  @if (showAlert) {
    <fuse-alert class="mt-8" [appearance]="'outline'" [showIcon]="false" [type]="alert.type" [@shake]="alert.type === 'error'">
      {{ alert.message }}
    </fuse-alert>
  }

  <!-- Sign in form -->
  <form class="mt-8" [formGroup]="signInForm" #signInNgForm="ngForm">
    <!-- Email field -->
    <mat-form-field class="w-full">
      <mat-label>Email</mat-label>
      <input id="email" matInput [formControlName]="'email'" />
      @if (signInForm.get('email').hasError('required')) {
        <mat-error> Vui lòng nhập địa chỉ email</mat-error>
      }
      @if (signInForm.get('email').hasError('email')) {
        <mat-error> Vui lòng nhập một địa chỉ email hợp lệ</mat-error>
      }
    </mat-form-field>

    <!-- Password field -->
    <mat-form-field class="w-full">
      <mat-label>Mật khẩu</mat-label>
      <input id="password" matInput type="password" [formControlName]="'password'" #passwordField />
      <button
        mat-icon-button
        type="button"
        (click)="passwordField.type === 'password' ? (passwordField.type = 'text') : (passwordField.type = 'password')"
        matSuffix
      >
        @if (passwordField.type === 'password') {
          <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
        }
        @if (passwordField.type === 'text') {
          <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
        }
      </button>
      <mat-error> Vui lòng nhập mật khẩu</mat-error>
    </mat-form-field>

    <!-- Actions -->
    <div class="mt-1.5 inline-flex w-full items-center justify-between">
      <mat-checkbox class="-ml-2" [color]="'primary'" [formControlName]="'rememberMe'"> Lưu mật khẩu</mat-checkbox>
      <a class="text-md text-primary-500 font-medium hover:underline" [routerLink]="['/forgot-password']">Quên mật khẩu? </a>
    </div>

    <!-- Submit button -->
    <button class="fuse-mat-button-large mt-6 w-full" mat-flat-button [color]="'primary'" [disabled]="signInForm.disabled" (click)="signIn()">
      @if (!signInForm.disabled) {
        <span> Đăng nhập </span>
      }
      @if (signInForm.disabled) {
        <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
      }
    </button>

    <!-- Separator -->
    <div class="mt-8 flex items-center">
      <div class="mt-px flex-auto border-t"></div>
      <div class="text-secondary mx-2">Hoặc tiếp tục với</div>
      <div class="mt-px flex-auto border-t"></div>
    </div>

    <!-- Single sign-on buttons -->
    <div class="mt-8 flex items-center space-x-4">
      <button (click)="signInWithGoogle()" class="flex-auto" type="button" mat-stroked-button>
        <img src="/images/logo/google-icon.svg" />
      </button>
    </div>
  </form>
  <div class="mt-8 flex items-baseline justify-center font-medium">
    <div>Bạn chưa có tài khoản?</div>
    <a class="text-primary-500 ml-1 hover:underline" [routerLink]="['/sign-up']">Đăng kí </a>
  </div>
</div>
