<fuse-card class="flex flex-col px-8 py-6 pb-4 ring-yellow-800" #fuseCard>
  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <mat-icon class="text-20 mr-4">pregnancy_tracking</mat-icon>
      <h4 class="m-0">Tuần {{ recordData.week }}</h4>
    </div>
  </div>
  <div class="-mx-4 flex flex-wrap">
    <div class="w-full px-4 md:w-1/2">
      <p class="mb-2"><strong>Ngày khám bệnh:</strong> {{ recordData.visit_doctor_date | date: 'dd/MM/yyyy' }}</p>
      <p class="mb-2"><strong>Ngày tái khám:</strong> {{ recordData.next_visit_doctor_date | date: 'dd/MM/yyyy' }}</p>
      <p class="mb-2"><strong>Bệnh viện:</strong> {{ recordData.hospital.name }}</p>
      <p class="mb-2"><strong>Bác sĩ:</strong> {{ recordData.doctor_name }}</p>
    </div>
  </div>
  <div class="flex justify-end">
    <button mat-button color="primary" (click)="editTracking()">Chỉnh sửa</button>
  </div>
</fuse-card>
