<!--suppress TypeScriptValidateTypes -->
<div class="flex w-full flex-col">
  @if (isLoading) {
    <div class="absolute inset-x-0 top-0">
      <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
  }
  <p-toolbar styleClass="mb-6" class="flex justify-end">
    <ng-template #start>
      <p-button (onClick)="openNew()" class="mr-2" icon="pi pi-plus" label="New" severity="primary" />
    </ng-template>
    <ng-template #end>
      <!-- Future export functionality can go here -->
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="categoryResource.value()"
    [globalFilterFields]="['title', 'status']"
    [paginator]="true"
    [rowHover]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
    [rows]="10"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '75rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} categories"
    dataKey="category_id"
    [loading]="isLoading"
  >
    <ng-template #caption>
      <div class="flex items-center justify-between">
        <h5 class="m-0">Manage Categories</h5>
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input (input)="onGlobalFilter(dt, $event)" pInputText placeholder="Search..." type="text" />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th pSortableColumn="title" style="min-width: 16rem">
          Title
          <p-sortIcon field="title" />
        </th>
        <th pSortableColumn="status" style="min-width: 8rem">
          Status
          <p-sortIcon field="status" />
        </th>
        <th style="min-width: 4rem">Action</th>
      </tr>
    </ng-template>
    <ng-template #body let-category>
      <tr>
        <td style="min-width: 16rem">{{ category.title }}</td>
        <td>
          <p-tag [severity]="getSeverityStatus(category.status)" [value]="convertStatusToReadable(category.status)" />
        </td>
        <td>
          <p-button (click)="editCategory(category)" [outlined]="true" [rounded]="true" class="mr-2" icon="pi pi-pencil" />
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog
    [(visible)]="categoryDialogToggle"
    [modal]="true"
    [style]="{ width: '450px', height: '400px' }"
    [resizable]="false"
    [draggable]="true"
    header="Category Details"
  >
    <ng-template #content>
      <form [formGroup]="categoryForm" class="flex flex-col gap-4">
        <!--Title-->
        <div>
          <label class="block font-bold" for="title">Title</label>
          <input formControlName="title" autofocus fluid="true" id="title" pInputText type="text" />
          <small *ngIf="isSubmittedForm && f['title'].errors?.['required']" class="text-red-500">Title is required.</small>
        </div>
        <!--Status-->
        <div>
          <label class="block font-bold" for="status">Status</label>
          <p-select
            formControlName="status"
            [options]="[
              { label: 'ACTIVE', value: Status.ACTIVE },
              { label: 'INACTIVE', value: Status.INACTIVE },
            ]"
            fluid="true"
            id="status"
            optionLabel="label"
            optionValue="value"
            placeholder="Select a Status"
          />
          <small *ngIf="isSubmittedForm && f['status'].errors?.['required']" class="text-red-500">Status is required.</small>
        </div>
      </form>
    </ng-template>

    <ng-template #footer>
      <div class="">
        <p-button (click)="hideDialog()" icon="pi pi-times" label="Cancel" text="true" />
        <p-button (click)="saveCategory($event)" icon="pi pi-check" label="Save" />
      </div>
    </ng-template>
  </p-dialog>
</div>
<p-toast />
<p-confirm-popup baseZIndex="99" />
