<div
  class="header top-0 z-50 sticky w-3/5 py-2 px-7 bg-blue-400 mt-4 p-0 box-border mx-auto flex justify-between rounded-full"
>
  <div class="header__block flex h-full gap-6 items-center">
    <img
      class="header__logo"
      ngSrc="images/logo_name_bgt.png"
      alt="logo"
      width="80"
      height="80"
      [priority]="NgOptimizedImage"
    />
    <tui-tabs [(activeItemIndex)]="activeItemIndex" class="header__tabs" size="m">
      <button iconStart="" tuiTab type="button" (click)="onClick('Trang chủ')">Trang chủ</button>
      <button iconStart="" tuiTab type="button" (click)="onClick('Khám sức khỏe')">Khám sức khỏe</button>
      <button iconStart="" tuiTab type="button" (click)="onClick('Thống kê')">Thống kê</button>
      <button iconStart="" tuiTab type="button" (click)="onClick('Lịch trình')">Lịch trình</button>
      <button iconStart="" tuiTab type="button" (click)="onClick('Tin tức')">Tin tức</button>
      <button iconStart="" tuiTab type="button" (click)="onClick('Cài đặt')">Cài đặt</button>
    </tui-tabs>
  </div>
  <div class="header__block flex items-center gap-6">
    <search tuiSearch class="header__search">
      <form [formGroup]="form" (ngSubmit)="search()">
        <fieldset>
          <tui-textfield tuiTextfieldSize="s" iconStart="@tui.search">
            <label tuiLabel>Search</label>
            <input placeholder="Search" tuiTextfield formControlName="search" />
          </tui-textfield>
        </fieldset>
      </form>
    </search>
    <div class="actions">
      <tui-badged-content>
        <tui-badge-notification size="s" tuiSlot="top"> 3 </tui-badge-notification>
        <button
          appearance="secondary-grayscale"
          iconStart="@tui.bell-ring"
          size="s"
          tuiIconButton
          type="button"
          [style.border-radius.%]="100"
        >
          Notication
        </button>
      </tui-badged-content>
    </div>

    <tui-badged-content [style.--tui-radius.%]="50">
      <tui-icon appearance="secondary-grayscale" icon="@tui.chevron-down" size="s" tuiBadge tuiSlot="bottom" />
      <tui-avatar
        size="m"
        [src]="'https://avatars.githubusercontent.com/u/11832552' | tuiFallbackSrc: '@tui.user' | async"
      />
    </tui-badged-content>
  </div>
</div>
