<!-- Main -->
<div class="flex-auto">
  <div class="mb-6 sm:mb-12">
    <mat-button-toggle-group class="flex flex-wrap" [(ngModel)]="selectedFilter" (change)="onFilterChange($event)">
      @for (filter of filters; track filter) {
        <mat-button-toggle class="m-2" [value]="filter">
          <span class="text-secondary">{{ filter | titlecase }}</span>
          <span class="text-secondary font-medium">({{ numberOfCards[filter] }})</span>
        </mat-button-toggle>
      }
    </mat-button-toggle-group>
  </div>
  <div class="max-w-400 flex w-full flex-wrap items-start justify-center gap-6">
    <!-- Card #3 - Flippable card -->
    <fuse-card
      class="filter-article filter-interactive flex w-full max-w-80 flex-col"
      [flippable]="true"
      [face]="'front'"
      #flippableCard01="fuseCard"
    >
      <ng-container fuseCardFront>
        <img class="object-cover" src="/images/cards/03-320x200.jpg" alt="Card cover image" />
        <div class="m-8 mb-4">
          <div class="text-2xl font-semibold leading-tight">Most beautiful and quite places to see</div>
          <div class="mt-4">From rocky mountains to crystal clear lakes, there are the places you must see and enjoy.</div>
          <div class="-mx-3 mt-3">
            <button class="px-3" mat-button [color]="'primary'" (click)="flippableCard01.face = flippableCard01.face === 'front' ? 'back' : 'front'">
              Read More
            </button>
          </div>
        </div>
      </ng-container>
      <ng-container fuseCardBack>
        <div class="m-4 flex flex-auto flex-col">
          <button class="ml-1.5" mat-icon-button (click)="flippableCard01.face = flippableCard01.face === 'front' ? 'back' : 'front'">
            <mat-icon [svgIcon]="'heroicons_outline:arrow-long-left'"></mat-icon>
          </button>
          <div class="m-4 mt-3">
            <div class="text-2xl font-semibold leading-tight">Most beautiful and quite places to see</div>
            <div class="mt-4">
              From rocky mountains to crystal clear lakes, these are the places you must see and enjoy. You can bring your own food and have a little
              picnic on top of the amazing grasslands.
            </div>
            <div class="mt-4">
              From rocky mountains to crystal clear lakes, these are the places you must see and enjoy. You can bring your own food and have a little
              picnic on top of the amazing grasslands.
            </div>
          </div>
        </div>
      </ng-container>
    </fuse-card>

    <!-- Card #4 -->
    <fuse-card class="filter-article flex w-full max-w-80 flex-col">
      <img class="object-cover" src="/images/cards/04-320x200.jpg" alt="Card cover image" />
      <div class="m-8 mb-4">
        <div class="text-2xl font-semibold leading-tight">Rocky mountain tops</div>
        <div class="text-secondary text-md mt-1">Updated with 20 new locations</div>
        <div class="mt-4">From rocky mountains to crystal clear lakes, there are the places you must see and enjoy.</div>
        <div class="-mx-3 mt-3">
          <a class="px-3" mat-button [color]="'primary'" [routerLink]="['./']"> Read More </a>
        </div>
      </div>
    </fuse-card>

    <!-- Card #5 - Expandable card -->
    <fuse-card class="filter-article filter-interactive flex w-full max-w-80 flex-col" #expandableCard01="fuseCard">
      <img class="object-cover" src="/images/cards/05-320x200.jpg" alt="Card cover image" />
      <div class="m-8 mb-4">
        <div class="text-2xl font-semibold leading-tight">Rocky mountain tops</div>
        <div class="text-secondary text-md mt-1">Updated with 20 new locations</div>
        <div class="mt-4">From rocky mountains to crystal clear lakes, there are the places you must see and enjoy.</div>
        <div class="-mx-3 mt-3">
          <button class="px-3" mat-button [color]="'primary'" (click)="expandableCard01.expanded = !expandableCard01.expanded">
            <span class="mr-1">Details</span>
            <mat-icon
              class="icon-size-5 rotate-0 transition-transform duration-150 ease-in-out"
              [ngClass]="{
                'rotate-180': expandableCard01.expanded,
              }"
              [svgIcon]="'heroicons_mini:chevron-down'"
            ></mat-icon>
          </button>
        </div>
      </div>

      <ng-container fuseCardExpansion>
        <div class="m-8 mt-0">
          <div class="flex items-baseline">
            <div class="mr-2">Open now:</div>
            <div class="text-secondary">08:00AM - 09:00PM</div>
          </div>
          <div class="mt-1 flex items-baseline">
            <div class="mr-2">Entrance fee:</div>
            <div class="text-secondary">$20 (USD)</div>
          </div>
        </div>
      </ng-container>
    </fuse-card>

    <!-- Card #5 - Expandable card -->
    <fuse-card class="filter-article filter-interactive flex w-full max-w-80 flex-col" #expandableCard01="fuseCard">
      <img class="object-cover" src="/images/cards/05-320x200.jpg" alt="Card cover image" />
      <div class="m-8 mb-4">
        <div class="text-2xl font-semibold leading-tight">Rocky mountain tops</div>
        <div class="text-secondary text-md mt-1">Updated with 20 new locations</div>
        <div class="mt-4">From rocky mountains to crystal clear lakes, there are the places you must see and enjoy.</div>
        <div class="-mx-3 mt-3">
          <button class="px-3" mat-button [color]="'primary'" (click)="expandableCard01.expanded = !expandableCard01.expanded">
            <span class="mr-1">Details</span>
            <mat-icon
              class="icon-size-5 rotate-0 transition-transform duration-150 ease-in-out"
              [ngClass]="{
                'rotate-180': expandableCard01.expanded,
              }"
              [svgIcon]="'heroicons_mini:chevron-down'"
            ></mat-icon>
          </button>
        </div>
      </div>

      <ng-container fuseCardExpansion>
        <div class="m-8 mt-0">
          <div class="flex items-baseline">
            <div class="mr-2">Open now:</div>
            <div class="text-secondary">08:00AM - 09:00PM</div>
          </div>
          <div class="mt-1 flex items-baseline">
            <div class="mr-2">Entrance fee:</div>
            <div class="text-secondary">$20 (USD)</div>
          </div>
        </div>
      </ng-container>
    </fuse-card>
  </div>
</div>
