<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Empty layout -->
<!-- ----------------------------------------------------------------------------------------------------- -->
@if (layout === 'empty') {
  <empty-layout></empty-layout>
}

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Layouts with horizontal navigation -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<!--&lt;!&ndash; Centered &ndash;&gt;-->
<!--@if (layout === 'centered') {-->
<!--  <centered-layout></centered-layout>-->
<!--}-->

<!--&lt;!&ndash; Enterprise &ndash;&gt;-->
<!--@if (layout === 'enterprise') {-->
<!--  <enterprise-layout></enterprise-layout>-->
<!--}-->

<!--&lt;!&ndash; Material &ndash;&gt;-->
<!--@if (layout === 'material') {-->
<!--  <material-layout></material-layout>-->
<!--}-->

<!-- Modern -->
@if (layout === 'modern') {
  <modern-layout class="bg-gradient-to-b from-purple-100/75 to-pink-200"></modern-layout>
}

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Layouts with vertical navigation -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<!--&lt;!&ndash; Classic &ndash;&gt;-->
<!--@if (layout === 'classic') {-->
<!--  <classic-layout></classic-layout>-->
<!--}-->

<!--&lt;!&ndash; Classy &ndash;&gt;-->
<!--@if (layout === 'classy') {-->
<!--  <classy-layout></classy-layout>-->
<!--}-->

<!--&lt;!&ndash; Compact &ndash;&gt;-->
<!--@if (layout === 'compact') {-->
<!--  <compact-layout></compact-layout>-->
<!--}-->

<!-- Dense -->
<!--@if (layout === 'dense') {-->
<!--  <dense-layout></dense-layout>-->
<!--}-->

<!--&lt;!&ndash; Futuristic &ndash;&gt;-->
<!--@if (layout === 'futuristic') {-->
<!--  <futuristic-layout></futuristic-layout>-->
<!--}-->

<!--&lt;!&ndash; Thin &ndash;&gt;-->
<!--@if (layout === 'thin') {-->
<!--  <thin-layout></thin-layout>-->
<!--}-->

<!-- LAYOUT CUSTOM CHO TỪNG ROLE -->
@if (layout === 'admin') {
  <admin-layout></admin-layout>
}

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Settings drawer - Remove this to remove the drawer and its button -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<!--@if (layout == '') {-->
<!--  <settings></settings>-->
<!--}-->
