<h1 mat-dialog-title style="font-size: 24px; font-weight: bold; color: #333; text-align: center; margin-bottom: 20px">Confirm Purchase</h1>
<div mat-dialog-content style="font-size: 16px; color: #666; text-align: center; margin-bottom: 20px">
  Are you sure you want to buy {{ data.title }}?
</div>
<div mat-dialog-actions style="display: flex; justify-content: center; gap: 10px">
  <button mat-button class="dialog-button" (click)="onYesClick(data.membershipId)" [mat-dialog-close]="true">Yes</button>
  <button mat-button class="dialog-button" (click)="onNoClick()">No</button>
</div>

<style>
  .dialog-button {
    background-color: pink;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .dialog-button:hover {
    background-color: #ff69b4; /* Darker pink on hover */
  }

  .dialog-button:active {
    background-color: #ff1493; /* Even darker pink on active */
  }
</style>
