<div class="flex min-w-0 flex-auto flex-col">
  <!-- Main -->
  <div class="flex-auto p-6 sm:p-10">
    <div class="rounded-2xl border-2 border-gray-300">
      <!-- Header -->
      <div class="flex-0 bg-primary text-on-primary flex h-16 items-center justify-between rounded-t-2xl pl-6 pr-3 sm:pl-8 sm:pr-5">
        <div class="text-lg font-medium">Blog Editor</div>
        <button mat-icon-button (click)="saveAndClose()" [tabIndex]="-1">
          <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
      </div>

      <!-- Compose form -->
      <form class="flex flex-auto flex-col overflow-y-auto p-6 sm:p-8" [formGroup]="blogEditorForm">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput [formControlName]="'title'" />
        </mat-form-field>

        <mat-form-field class="fuse-mat-bold fuse-mat-dense input-full-width">
          <mat-label>Category</mat-label>
          <mat-select [formControlName]="'category_id'" required>
            <mat-option value="" disabled="true">Select category</mat-option>
            @for (category of categories; track $index) {
              <mat-option value="{{ category.category_id }}">{{ category.title }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Author</mat-label>
          <input matInput [formControlName]="'author'" />
        </mat-form-field>

        <mat-form-field class="flex-auto">
          <mat-label>Tags</mat-label>
          <mat-chip-grid #chipGridForTags>
            @for (chip of tagsChips(); track $index) {
              <mat-chip-row [value]="chip" (removed)="removeTag(chip)"
                >{{ chip.title }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip-row>
            }
            <input #tagsInput matInput [matAutocomplete]="auto" [matChipInputFor]="chipGridForTags" [matChipInputAddOnBlur]="true" />
          </mat-chip-grid>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="tagSelected($event)">
            @for (tag of tagsOptions; track $index) {
              <mat-option [value]="tag" [disabled]="isTagSelected(tag)">
                {{ tag.title }}
              </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Summary</mat-label>
          <input matInput [formControlName]="'summary'" />
        </mat-form-field>

        <div class="mb-8 w-full px-2 md:w-1/2">
          <file-upload (insertImg)="addImage($event)"></file-upload>
        </div>
        <div class="flex flex-wrap">
          @for (src of images; track $index) {
            <image-preview [imgObj]="src" (deleteImg)="deleteImage($event)"></image-preview>
          }
        </div>

        <!-- Body -->
        <quill-editor
          class="mt-2"
          [formControlName]="'body'"
          [bounds]="'self'"
          [modules]="quillModules"
          [customModules]="[{ path: 'modules/imageCompress', implementation: imageCompressImplementation }]"
        ></quill-editor>

        <!-- Actions -->
        <div class="mt-4 flex flex-col justify-between sm:mt-6 sm:flex-row sm:items-center">
          <div class="mt-4 flex items-center sm:mt-0">
            <!-- Discard -->
            @if (!_blog) {
              <button class="ml-auto sm:ml-0" mat-stroked-button (click)="discard()">Discard</button>
            }
            <!-- Send -->
            <button class="order-first sm:order-last" mat-flat-button [color]="'primary'" (click)="submit()">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
