<!-- component -->
<div
  class="absolute top-0 left-0 bg-gradient-to-b from-purple-400 via-pink-500 to-red-500 bottom-0 leading-5 h-full w-full overflow-hidden"
></div>
<div class="relative min-h-screen sm:flex sm:flex-row justify-center bg-transparent rounded-3xl shadow-xl">
  <div class="flex-col flex self-center lg:px-14 sm:max-w-4xl xl:max-w-2xl z-10">
    <div class="self-start hidden lg:flex flex-col text-zinc-950">
      <h1
        class="drop-shadow-md my-3 font-semibold text-6xl bg-gradient-to-r from-rose-300 to-orange-300 inline-block text-transparent bg-clip-text leading-normal"
      >
        Chào mẹ!
      </h1>
      <p class="pr-3 text-sm text-teal-50 opacity-75">
        Mừng mẹ bầu đến với hành trình tuyệt vời của sự sống! Hãy để ứng dụng đồng hành cùng bạn, cung cấp những thông
        tin, công cụ, và sự hỗ trợ cần thiết trong suốt chặng đường yêu thương này.
      </p>
    </div>
  </div>
  <!--  <div class="flex justify-center self-center z-10">-->
  <!--      <app-login-form ></app-login-form>-->
  <!--  </div>-->
  <div class="flex justify-center self-center z-10 relative sm:max-w-sm w-full">
    <div class="card bg-blue-400 shadow-lg w-full h-full rounded-3xl absolute transform -rotate-6"></div>
    <div class="card bg-red-400 shadow-lg w-full h-full rounded-3xl absolute transform rotate-6"></div>

    <form
      class="p-12 bg-white mx-auto rounded-3xl w-full"
      tuiAppearance="floating"
      tuiCardLarge
      tuiForm="m"
      [formGroup]="loginForm"
      (ngSubmit)="signup()"
    >
      <img
        class="logo"
        ngSrc="images/logo_name_bgt.png"
        alt="logo"
        width="200"
        height="200"
        [priority]="NgOptimizedImage"
      />
      <header tuiHeader>
        <h1 tuiTitle>Tạo tài khoản</h1>
      </header>

      <div class="login-button">
        <button id="google" class="google-login-button" (click)="signInWithGoogle()">
          <img
            src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png"
            alt="Google"
            class="google-icon"
          />
        </button>
      </div>
      <div class="or">
        <div class="bar"></div>
        <p>hoặc</p>
        <div class="bar"></div>
      </div>

      <tui-textfield>
        <label tuiLabel>Email</label>
        <input placeholder="Nhập email" tuiTextfield type="email" formControlName="email" />
      </tui-textfield>

      <tui-textfield>
        <label tuiLabel>Mật khẩu</label>
        <input placeholder="Nhập mật khẩu" tuiTextfield type="password" formControlName="password" />
        <tui-icon tuiPassword />
      </tui-textfield>

      <tui-textfield>
        <label tuiLabel>Xác nhận mật khẩu</label>
        <input placeholder="Nhập lại mật khẩu" tuiTextfield type="password" formControlName="password" />
        <tui-icon tuiPassword />
      </tui-textfield>

      <div class="question">
        <p>Bạn đã có tài khoản? <a href="/login" style="color: #dd4c1e; text-decoration: none">Đăng nhập</a></p>
      </div>
      <footer class="flex justify-center">
        <button appearance="accent" tuiButton type="submit">Login</button>
      </footer>
    </form>
  </div>
</div>

<svg class="absolute bottom-0 left-0" viewBox="0 0 1440 320">
  <path
    fill="#fff"
    fill-opacity="1"
    d="M0,0L40,42.7C80,85,160,171,240,197.3C320,224,400,192,480,154.7C560,117,640,75,720,74.7C800,75,880,117,960,154.7C1040,192,1120,224,1200,213.3C1280,203,1360,149,1400,122.7L1440,96L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"
  ></path>
</svg>
