<!--health-metric-table.component.html-->
<!--suppress TypeScriptValidateTypes -->
<div class="flex w-full flex-col" [fuseScrollbar]="false">
  @if (isLoading) {
    <div class="absolute inset-x-0 top-0">
      <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
  }
  <p-toolbar styleClass="mb-6" class="">
    <ng-template #start>
      <p-button (onClick)="openNew()" class="mr-2" icon="pi pi-plus" label="New" severity="primary" />
    </ng-template>
    <ng-template #end>
      <!--    <p-button label="Export" icon="pi pi-upload" severity="primary" (onClick)="exportCSV()" />-->
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="metricResource.value()"
    [globalFilterFields]="['title', 'measurement_unit', 'status', 'required', 'upperbound_msg', 'lowerbound_msg']"
    [paginator]="true"
    [rowHover]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
    [rows]="10"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '75rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} metric"
    dataKey="metric_id"
    [expandedRowKeys]="expandedRows"
    [loading]="isLoading"
  >
    <ng-template #caption>
      <div class="flex items-center justify-between" [fuseScrollbar]="false">
        <h5 class="m-0">Manage Metric</h5>
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input (input)="onGlobalFilter(dt, $event)" pInputText placeholder="Search..." type="text" />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th style="width: 5rem"></th>
        <th pSortableColumn="title" style="min-width: 6rem">
          Title
          <p-sortIcon field="title" />
        </th>
        <th pSortableColumn="measurement_unit" style="min-width: 6rem" class="p">
          Unit
          <p-sortIcon field="measurement_unit" />
        </th>
        <th pSortableColumn="status" style="min-width: 7rem">
          Status
          <p-sortIcon field="status" />
        </th>
        <th pSortableColumn="required" style="min-width: 7rem">
          Required
          <p-sortIcon field="required" />
        </th>
        <th pSortableColumn="upperbound_msg" style="min-width: 7rem">
          Upperbound Message
          <p-sortIcon field="upperbound Message" />
        </th>
        <th pSortableColumn="lowerbound_msg" style="min-width: 7rem">
          Lowerbound Message
          <p-sortIcon field="lowerbound_msg" />
        </th>
        <th style="min-width: 4rem">Action</th>
      </tr>
    </ng-template>
    <ng-template #body let-metric let-expanded="expanded">
      <tr [ngClass]="expanded ? 'bg-green-100 text-2xl font-bold text-red-600' : ' '">
        <td>
          <p-button
            type="button"
            pRipple
            [pRowToggler]="metric"
            [text]="true"
            [rounded]="true"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
            [styleClass]="expanded ? 'bg-white' : 'p-button-secondary'"
          />
        </td>
        <td style="min-width: 16rem">{{ metric.title }}</td>
        <!--      -->
        <td>{{ metric.measurement_unit }}</td>
        <!--      -->
        <td>
          <p-tag [severity]="getSeverityStatus(metric.status)" [value]="convertStatusToReadable(metric.status)" />
        </td>
        <!--      -->
        <td>
          <p-tag [severity]="getSeverityRequired(metric.required)" [value]="convertRequireToReadable(metric.required)" />
        </td>
        <!--      -->
        <td style="min-width: 16rem">{{ metric.upperbound_msg }}</td>
        <td style="min-width: 16rem">{{ metric.lowerbound_msg }}</td>
        <td>
          <p-button (click)="editProduct(metric)" [outlined]="true" [rounded]="true" class="mr-2" icon="pi pi-pencil" />
          <!--          <p-button (click)="deleteProduct(metric)" [outlined]="true" [rounded]="true" icon="pi pi-trash" severity="danger" />-->
        </td>
      </tr>
    </ng-template>

    <ng-template #expandedrow let-metric>
      <tr class="bg-green-100">
        <td colspan="8">
          <fuse-card class="flex-col">
            <app-standard-table class="" [currentMetric]="metric" [fuseScrollbar]="false" [(isLoadingStandard)]="isLoading"></app-standard-table>
          </fuse-card>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog [(visible)]="metricDialogToggle" [modal]="true" [style]="{ width: '450px', height: '700px' }" header="Metric Details">
    <ng-template #content>
      <form [formGroup]="metricForm" class="flex flex-col gap-4">
        <!--Title-->
        <div>
          <label class="block font-bold" for="title">Title</label>
          <input formControlName="title" autofocus fluid="true" id="title" pInputText type="text" />
          <small *ngIf="isSubmittedForm && f['title'].errors?.['required']" class="text-red-500">Title is required.</small>
        </div>
        <!-- Unit -->
        <div>
          <label class="block font-bold" for="measurement_unit">Unit</label>
          <input formControlName="measurement_unit" fluid="true" id="measurement_unit" pInputText type="text" />
          <small *ngIf="isSubmittedForm && f['measurement_unit'].errors?.['required']" class="text-red-500">Unit is required.</small>
        </div>
        <!--Status-->
        <div>
          <label class="block font-bold" for="status">Status</label>
          <p-select
            formControlName="status"
            [options]="[
              { label: 'ACTIVE', value: Status.ACTIVE },
              { label: 'INACTIVE', value: Status.INACTIVE },
            ]"
            fluid="true"
            id="status"
            optionLabel="label"
            optionValue="value"
            placeholder="Select a Status"
          />
          <small *ngIf="isSubmittedForm && f['status'].errors?.['required']" class="text-red-500">Status is required.</small>
        </div>
        <!--Required-->
        <div>
          <label class="block font-bold" for="required">Require</label>
          <p-select
            formControlName="required"
            [options]="[
              { labelReq: 'REQUIRED', valueReq: true },
              { labelReq: 'OPTIONAL', valueReq: false },
            ]"
            fluid="true"
            id="required"
            inputId="required"
            optionLabel="labelReq"
            optionValue="valueReq"
            placeholder="Select a Option"
          />
          <small *ngIf="isSubmittedForm && f['required'].errors?.['required']" class="text-red-500">This field is required.</small>
        </div>
        <!--upperbound_msg-->
        <div>
          <label class="block font-bold" for="upperbound_msg">Upperbound Message</label>
          <input formControlName="upperbound_msg" fluid="true" id="upperbound_msg" pInputText type="text" />
          <small *ngIf="isSubmittedForm && f['upperbound_msg'].errors?.['required']" class="text-red-500">Upperbound Message is required.</small>
        </div>
        <!--lowerbound_msg-->
        <div>
          <label class="block font-bold" for="lowerbound_msg">Lowerbound Message</label>
          <input formControlName="lowerbound_msg" fluid="true" id="lowerbound_msg" pInputText type="text" />
          <small *ngIf="isSubmittedForm && f['lowerbound_msg'].errors?.['required']" class="text-red-500">Lowerbound Message is required.</small>
        </div>
      </form>
    </ng-template>

    <ng-template #footer>
      <div class="">
        <p-button (click)="hideDialog()" icon="pi pi-times" label="Cancel" text="true" />
        <p-button (click)="saveMetric($event)" icon="pi pi-check" label="Save" />
      </div>
    </ng-template>
  </p-dialog>
</div>
<p-toast />
<p-confirm-popup baseZIndex="99" />
