<div class="flex w-full max-w-full flex-col items-center px-4 md:px-6">
  <p-toast />
  <div class="my-5 text-center">
    <h1 class="text-2xl font-bold">Theo dõi sức khỏe thai kỳ</h1>
  </div>

  <p-date-picker class="max-w-full" [(ngModel)]="date" [inline]="true" />

  <div class="w-full">
    @if (recordsData().length > 0) {
      <app-line-chart [title]="'Theo dõi chỉ số'" [multi_data]="getRecordDataForChart()"></app-line-chart>
    }
  </div>
  <div class="w-full">
    <app-record-table></app-record-table>
  </div>
</div>
