<p-toast />
<div class="grid h-full w-full grid-cols-6">
  <!--  VẾ TRÁI -->
  <div class="bg-card h-c-vh col-span-1 hidden lg:flex">
    <div class="flex flex-auto flex-col overflow-y-auto p-6" style="scrollbar-width: none; -ms-overflow-style: none" id="custom-scrollbar">
      <app-tracking-mini-calendar></app-tracking-mini-calendar>
    </div>
  </div>

  <!--  CỤC GIỮA-->
  <div class="col-span-5 grid grid-cols-3">
    <div class="col-span-2 p-2">
      <div class="w-full">
        <app-record-table></app-record-table>
      </div>
    </div>

    <div class="col-span-1">
      <div class="w-full">
        <app-line-chart [title]="'Theo dõi chỉ số'" [multi_data]="getRecordDataForChart()"></app-line-chart>
      </div>
    </div>
  </div>
</div>
