<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>

<div class="dark:bg-card relative flex w-full flex-auto justify-center overflow-hidden sm:p-4 md:p-8">
  <!--  <img class="-top-100 absolute" src="\images\ui\background\cloudy.svg" alt="cloudy background" />-->
  <img class="absolute -right-10 top-60 w-40" src="\images\ui\doodles\d2.svg" alt="doobles background" />
  <img class="absolute left-0 top-96 w-40" src="\images\ui\doodles\d1.svg" alt="doobles background" />
  <img class="left-30 absolute top-20 w-40" src="\images\ui\doodles\d3.svg" alt="doobles background" />
  <img class="left-240 -top-15 absolute w-40" src="\images\ui\doodles\d5.svg" alt="doobles background" />
  <img class="top-160 -left-15 absolute w-40" src="\images\ui\doodles\d6.svg" alt="doobles background" />
  <img class="absolute left-0 top-0 w-40" src="\images\ui\doodles\d7.svg" alt="doobles background" />
  <img class="absolute right-4 top-0 w-40" src="\images\ui\doodles\d8.svg" alt="doobles background" />

  <img class="top-30 absolute right-5 w-40" src="\images\ui\doodles\d9.svg" alt="doobles background" />
  <img class="absolute right-24 top-60 w-40" src="\images\ui\doodles\d10.svg" alt="doobles background" />
  <img class="top-180 absolute right-20 w-40" src="\images\ui\doodles\d11.svg" alt="doobles background" />
  <img class="top-160 absolute left-36 w-40" src="\images\ui\doodles\d12.svg" alt="doobles background" />
  <img class="top-128 absolute right-32 w-40" src="\images\ui\doodles\d13.svg" alt="doobles background" />
  <img class="-top-15 absolute right-52 w-40" src="\images\ui\doodles\d14.svg" alt="doobles background" />

  <img class="top-180 absolute left-10 w-40" src="\images\ui\doodles\d15.svg" alt="doobles background" />
  <img class="absolute -top-20 left-80 w-40" src="\images\ui\doodles\d16.svg" alt="doobles background" />
  <img class="top-128 absolute left-10 w-40" src="\images\ui\doodles\d17.svg" alt="doobles background" />
  <img class="absolute left-36 top-72 w-40" src="\images\ui\doodles\d18.svg" alt="doobles background" />
  <img class="top-120 absolute right-0 w-40" src="\images\ui\doodles\d19.svg" alt="doobles background" />
  <img class="top-30 absolute left-0 w-40" src="\images\ui\doodles\d20.svg" alt="doobles background" />
  <img class="absolute -top-20 left-36 w-40" src="\images\ui\doodles\d21.svg" alt="doobles background" />

  <img class="top-90 absolute right-10 w-40" src="\images\ui\doodles\d22.svg" alt="doobles background" />
  <img class="-left-15 absolute top-72 w-40" src="\images\ui\doodles\d23.svg" alt="doobles background" />
  <img class="top-160 absolute -right-20 w-40" src="\images\ui\doodles\d24.svg" alt="doobles background" />
  <img class="right-140 -top-15 absolute w-40" src="\images\ui\doodles\d25.svg" alt="doobles background" />
  <img class="-top-15 left-160 absolute w-40" src="\images\ui\doodles\d26.svg" alt="doobles background" />
  <!-- Navigation -->
  @if (isScreenSmall) {
    <fuse-vertical-navigation
      class="dark bg-gray-900 print:hidden"
      [mode]="'over'"
      [name]="'mainNavigation'"
      [navigation]="navigation.default"
      [opened]="false"
    >
      <!-- Navigation header hook -->
      <ng-container fuseVerticalNavigationContentHeader>
        <!-- Logo -->
        <div class="flex h-20 items-center px-8 pt-6">
          <img class="w-30" src="images/logo/logo-text-on-dark.svg" />
        </div>
      </ng-container>
    </fuse-vertical-navigation>
  }

  <!-- Wrapper -->
  <div class="max-w-360 z-10 flex min-w-0 flex-auto flex-col items-center overflow-hidden shadow-2xl sm:rounded-xl dark:shadow-none">
    <!-- Header -->
    <div class="bg-card z-49 flex-0 dark:bg-default relative flex h-16 w-full items-center border-b px-4 sm:h-20 md:px-6 print:hidden">
      @if (!isScreenSmall) {
        <!-- Logo -->
        <div class="mx-2 flex items-center lg:mr-8">
          <div class="hidden lg:flex">
            <!-- Light version -->
            <img class="w-10 dark:hidden" src="images/logo/logo-text.svg" alt="Logo image" />
            <!-- Dark version -->
            <img class="hidden w-10 dark:flex" src="images/logo/logo-text-on-dark.svg" alt="Logo image" />
            <div
              class="ml-1 self-center text-2xl font-extrabold leading-tight tracking-tight"
              style="color: #fcedd8; font-family: 'Niconne', cursive; text-shadow: 1px 1px 0px #eb452b"
            >
              <i>Pregnancy Journal</i>
            </div>
          </div>
          <!-- Small version -->
          <img class="flex w-8 lg:hidden" src="images/logo/logo.svg" alt="Logo image" />
        </div>
        <!-- Horizontal navigation -->
        <fuse-horizontal-navigation class="mr-2" [name]="'mainNavigation'" [navigation]="navigation.default"></fuse-horizontal-navigation>
      }
      <!-- Navigation toggle button -->
      @if (isScreenSmall) {
        <button class="mr-2" mat-icon-button (click)="toggleNavigation('mainNavigation')">
          <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
        </button>
      }
      <!-- Components -->
      <div class="ml-auto flex items-center space-x-1 pl-2 sm:space-x-2">
        <languages></languages>
        <fuse-fullscreen class="hidden md:block"></fuse-fullscreen>
        <search [appearance]="'bar'"></search>
        <shortcuts></shortcuts>
        <messages></messages>
        <notifications></notifications>
        <user></user>
      </div>
    </div>

    <!-- Content -->
    <div class="bg-default flex w-full flex-auto flex-col">
      <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
                 Otherwise, layout changes won't be registered and the view won't be updated! -->
      @if (true) {
        <router-outlet></router-outlet>
      }
    </div>

    <!-- Footer -->
    <div class="bg-card z-49 flex-0 dark:bg-default relative flex h-16 w-full items-center justify-start border-t px-6 sm:h-20 sm:px-8 print:hidden">
      <span class="text-secondary font-medium">Fuse &copy; {{ currentYear }}</span>
    </div>
  </div>
</div>
