<div class="bg-card flex min-w-0 flex-auto flex-col sm:absolute sm:inset-0 sm:overflow-hidden dark:bg-transparent">
  <!-- Header -->
  <div class="flex-0 relative flex flex-col border-b px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8">
    <!-- Loader -->
    @if (isLoading) {
      <div class="absolute inset-x-0 bottom-0">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
      </div>
    }
    <!-- Title -->
    <div class="text-4xl font-extrabold tracking-tight">Inventory</div>
    <!-- Actions -->
    <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
      <!-- Search -->
      <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
        <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search products'" />
      </mat-form-field>
      <!-- Add product button -->
      <button class="ml-4" mat-flat-button [color]="'primary'" (click)="createMetric()">
        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
        <span class="ml-2 mr-1">Add Metric</span>
      </button>
    </div>
  </div>

  <!-- Main -->
  <div class="flex flex-auto overflow-hidden">
    <!-- Products list -->
    <div class="sm:mb-18 flex flex-auto flex-col overflow-hidden sm:overflow-y-auto">
      <div class="grid">
        <!-- Header -->
        <div
          class="inventory-grid text-secondary text-md sticky top-0 z-10 grid gap-4 bg-gray-50 px-6 py-4 font-semibold shadow md:px-8 dark:bg-black dark:bg-opacity-5"
          matSort
          matSortDisableClear
        >
          <div></div>
          <div class="hidden md:block" [mat-sort-header]="'sku'">SKU</div>
          <div [mat-sort-header]="'name'">Name</div>
          <div class="hidden sm:block" [mat-sort-header]="'price'">Price</div>
          <div class="hidden lg:block" [mat-sort-header]="'stock'">Stock</div>
          <div class="hidden lg:block" [mat-sort-header]="'active'">Active</div>
          <div class="hidden sm:block">Details</div>
        </div>
        <!-- Rows -->
        @if (metricResource.error()) {
          <div class="error">{{ metricResource.error() }}</div>
        }
        <ul>
          @for (metric of metricResource.value(); track metric.metric_id) {
            <li>{{ metric.metric_id }}</li>
            <li>{{ metric.title }}</li>
            <li>{{ metric.standard }}</li>
            <li>{{ metric.measurement_unit }}</li>
            <li>{{ metric.lowerbound_msg }}</li>
            <li>{{ metric.upperbound_msg }}</li>
          } @empty {
            <li class="no-data">Nothing to show</li>
          }
        </ul>
      </div>
    </div>
  </div>
</div>
