<div class="flex flex-col">
  <p-dropdown
    [options]="childrenOptions()"
    [(ngModel)]="selectedChildId"
    (onChange)="onChildChange($event)"
    optionLabel="name"
    optionValue="child_id"
    [style]="{ width: '100%' }"
    placeholder="Select a child"
  >
    <ng-template pTemplate="selectedItem">
      <div class="flex items-center gap-2" *ngIf="_selectedChild()">
        <div
          class="flex h-6 w-6 items-center justify-center rounded-full"
          [ngClass]="{
            'bg-blue-100 text-blue-600': _selectedChild()?.gender === gender.MALE,
            'bg-pink-100 text-pink-600': _selectedChild()?.gender === gender.FEMALE,
          }"
        >
          <span class="text-xs font-medium">{{ _selectedChild()?.name.charAt(0) }}</span>
        </div>
        <span>{{ _selectedChild()?.name }}</span>
      </div>
    </ng-template>
    <ng-template let-child pTemplate="item">
      <div class="flex items-center gap-3">
        <div
          class="flex h-8 w-8 items-center justify-center rounded-full"
          [ngClass]="{
            'bg-blue-100 text-blue-600': child.gender === gender.MALE,
            'bg-pink-100 text-pink-600': child.gender === gender.FEMALE,
          }"
        >
          <span class="text-sm font-medium">{{ child.name.charAt(0) }}</span>
        </div>
        <span>{{ child.name }}</span>
      </div>
    </ng-template>
  </p-dropdown>
</div>
