<mat-dialog-content class="mat-typography">
  <div class="relative flex min-w-0 flex-auto flex-col overflow-hidden">
    <!-- Header & Cards -->
    <div class="relative overflow-hidden px-6 pb-12 pt-8 sm:px-16 sm:pb-24 sm:pt-20">
      <!-- Background -->
      <!-- prettier-ignore -->
      <svg class="-z-1 absolute inset-0"
           viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
        <g class="opacity-40 text-gray-200 dark:text-gray-800" fill="none" stroke="currentColor" stroke-width="100">
          <circle r="234" cx="196" cy="23"></circle>
          <circle r="234" cx="790" cy="491"></circle>
        </g>
      </svg>
      <!-- Header -->
      <div class="flex flex-col items-center" id="header">
        <h2 class="text-xl font-semibold">PRICING</h2>
        <div class="mt-1 text-center text-4xl font-extrabold leading-tight tracking-tight sm:text-7xl">Take control of your productivity</div>
        <div class="text-secondary mt-3 text-center tracking-tight sm:text-2xl">
          <div class="">Start small and free, upgrade as you go.</div>
          <div class="">Take control of everything.</div>
        </div>
        <!-- Recurring selector -->
      </div>
      <!-- Cards -->
      <div class="mt-10 flex justify-center sm:mt-20">
        <div class="w-full max-w-sm md:max-w-7xl">
          <div class="grid grid-cols-1 gap-y-6 md:grid-cols-2 md:gap-x-6 lg:grid-cols-3 lg:gap-y-0">
            <!-- Card 1 -->
            <fuse-card class="max-w-sm flex-col p-6 sm:px-10 sm:py-12 md:max-w-none">
              <div class="text-4xl font-bold leading-tight tracking-tight">Personal</div>
              <div class="text-secondary mt-2 text-lg font-medium tracking-tight">
                Perfect for an individual or a small team starting to get bigger
              </div>
              <div class="bg-accent my-10 h-1 w-8 rounded"></div>
              <!-- Price -->
              <div class="flex items-baseline whitespace-nowrap">
                <div class="mr-2 text-2xl">USD</div>
                <div class="text-6xl font-semibold leading-tight tracking-tight">$6.00</div>
              </div>
              <!-- Price details -->
              <div class="text-secondary mt-2 flex flex-col">
                <div>billed yearly</div>
                <div><b>$9.00</b> billed monthly</div>
              </div>
              <!-- CTA -->
              <button class="fuse-mat-button-large mt-10" mat-stroked-button [color]="'primary'">Get Started</button>
              <!-- Features -->
              <div class="mt-12 flex flex-col">
                <div class="font-semibold">Core features, including:</div>
                <div class="mt-4 space-y-2">
                  <div class="flex">
                    <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                    <div class="ml-2 leading-5"><b>10</b> projects</div>
                  </div>
                  <div class="flex">
                    <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                    <div class="ml-2 leading-5"><b>5GB</b> storage</div>
                  </div>
                  <div class="flex">
                    <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                    <div class="ml-2 leading-5">Analytics</div>
                  </div>
                  <div class="flex">
                    <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                    <div class="ml-2 leading-5">Free mobile app</div>
                  </div>
                  <div class="flex">
                    <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                    <div class="ml-2 leading-5">Access to forums</div>
                  </div>
                </div>
              </div>
            </fuse-card>
            <!-- Card 2 -->
            <fuse-card class="ring-primary max-w-sm flex-col overflow-visible p-6 ring-2 sm:px-10 sm:py-12 md:max-w-none">
              <div class="absolute inset-x-0 -top-4 flex items-center justify-center">
                <div class="bg-primary text-on-primary flex h-8 items-center rounded-full px-8 text-center font-medium leading-none">POPULAR</div>
              </div>
              <div class="text-4xl font-bold leading-tight tracking-tight">Premium</div>
              <div class="text-secondary mt-2 text-lg font-medium tracking-tight">Perfect for growing teams wanting to be in more control</div>
              <div class="bg-accent my-10 h-1 w-8 rounded"></div>
              <!-- Price -->
              <div class="flex items-baseline whitespace-nowrap">
                <div class="mr-2 text-2xl">USD</div>
                <div class="text-6xl font-semibold leading-tight tracking-tight">$12.00</div>
              </div>
              <!-- Price details -->
              <div class="text-secondary mt-2 flex flex-col">
                <div>billed yearly</div>
                <div><b>$15.00</b> billed monthly</div>
              </div>
              <!-- CTA -->
              <button class="fuse-mat-button-large mt-10" mat-flat-button [color]="'primary'">Start a free 14-day trial</button>
              <!-- Features -->
              <div class="mt-12 flex flex-col">
                <div class="font-semibold">Personal features, plus:</div>
                <div class="mt-4 space-y-2">
                  <div class="flex">
                    <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                    <div class="ml-2 leading-5"><b>Unlimited</b> projects</div>
                  </div>
                  <div class="flex">
                    <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                    <div class="ml-2 leading-5"><b>Unlimited</b> storage</div>
                  </div>
                  <div class="flex">
                    <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                    <div class="ml-2 leading-5">Custom domains</div>
                  </div>
                  <div class="flex">
                    <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                    <div class="ml-2 leading-5">Bulk editing</div>
                  </div>
                  <div class="flex">
                    <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                    <div class="ml-2 leading-5">12 / 5 support</div>
                  </div>
                </div>
              </div>
            </fuse-card>
            <!-- Card 3 -->
            <fuse-card class="max-w-sm flex-col p-6 sm:px-10 sm:py-12 md:max-w-none">
              <div class="text-4xl font-bold leading-tight tracking-tight">Enterprise</div>
              <div class="text-secondary mt-2 text-lg font-medium tracking-tight">Perfect for companies wanting advanced tools and support</div>
              <div class="bg-accent my-10 h-1 w-8 rounded"></div>
              <!-- Price -->
              <div class="flex items-baseline whitespace-nowrap">
                <div class="mr-2 text-2xl">USD</div>
                <div class="text-6xl font-semibold leading-tight tracking-tight">$49.00</div>
              </div>
              <!-- Price details -->
              <div class="text-secondary mt-2 flex flex-col">
                <div>billed yearly</div>
                <div><b>$69.00</b> billed monthly</div>
              </div>
              <!-- CTA -->
              <button class="fuse-mat-button-large mt-10" mat-stroked-button [color]="'primary'">Start a free 7-day trial</button>
              <!-- Features -->
              <div class="mt-12 flex flex-col">
                <div class="font-semibold">Premium features, plus:</div>
                <div class="mt-4 space-y-2">
                  <div class="flex">
                    <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                    <div class="ml-2 leading-5"><b>Dedicated</b> hardware</div>
                  </div>
                  <div class="flex">
                    <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                    <div class="ml-2 leading-5"><b>%99.9</b> uptime</div>
                  </div>
                  <div class="flex">
                    <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                    <div class="ml-2 leading-5">Advanced analytics</div>
                  </div>
                  <div class="flex">
                    <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                    <div class="ml-2 leading-5">3rd party integrations</div>
                  </div>
                  <div class="flex">
                    <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                    <div class="ml-2 leading-5">24 / 7 support</div>
                  </div>
                </div>
              </div>
            </fuse-card>
          </div>
        </div>
      </div>
    </div>

    <!-- Features -->
    <div class="sm:pt-18 flex flex-col items-center bg-white px-6 py-10 sm:px-16 sm:pb-20 dark:bg-gray-800">
      <div class="w-full max-w-7xl">
        <div>
          <div class="text-4xl font-extrabold leading-tight tracking-tight">Everything you need to build efficiently</div>
          <div class="text-secondary mt-2 max-w-xl text-xl">
            Start building your app using our tools, be efficient, spend less time with details more time with your business
          </div>
        </div>
        <!-- Features grid -->
        <div class="mt-12 grid w-full grid-cols-1 gap-x-6 gap-y-12 sm:mt-16 sm:grid-cols-2 lg:grid-cols-3 lg:gap-16">
          <div>
            <span class="bg-primary flex h-12 w-12 items-center justify-center rounded">
              <mat-icon class="text-white" [svgIcon]="'heroicons_outline:pencil-square'"></mat-icon>
            </span>
            <div class="mt-4 text-xl font-medium">Create and Edit Projects</div>
            <div class="text-secondary mt-2 leading-6">
              Create and edit projects, upload images via drag drop, add categories, add custom fields, create interactive forms and more.
            </div>
          </div>
          <div>
            <span class="bg-primary flex h-12 w-12 items-center justify-center rounded">
              <mat-icon class="text-white" [svgIcon]="'heroicons_outline:funnel'"></mat-icon>
            </span>
            <div class="mt-4 text-xl font-medium">Search and Filter</div>
            <div class="text-secondary mt-2 leading-6">
              Search and filter within the projects, categories and custom fields. Save search and filter details for easy access.
            </div>
          </div>
          <div>
            <span class="bg-primary flex h-12 w-12 items-center justify-center rounded">
              <mat-icon class="text-white" [svgIcon]="'heroicons_outline:arrow-path'"></mat-icon>
            </span>
            <div class="mt-4 text-xl font-medium">Real Time Updates</div>
            <div class="text-secondary mt-2 leading-6">
              Real time updates that doesn't require page reload. Lean back and watch the changes happen in real time.
            </div>
          </div>
          <div>
            <span class="bg-primary flex h-12 w-12 items-center justify-center rounded">
              <mat-icon class="text-white" [svgIcon]="'heroicons_outline:tag'"></mat-icon>
            </span>
            <div class="mt-4 text-xl font-medium">Meta Information</div>
            <div class="text-secondary mt-2 leading-6">
              Add and remove meta information to custom fields to differentiate them in reports and analytics results, use them for detailed reports.
            </div>
          </div>
          <div>
            <span class="bg-primary flex h-12 w-12 items-center justify-center rounded">
              <mat-icon class="text-white" [svgIcon]="'heroicons_outline:document-text'"></mat-icon>
            </span>
            <div class="mt-4 text-xl font-medium">Pre-rendered Results</div>
            <div class="text-secondary mt-2 leading-6">
              Pre-render results to make reports and analytics more accessible by screen readers and other accessibility tools.
            </div>
          </div>
          <div>
            <span class="bg-primary flex h-12 w-12 items-center justify-center rounded">
              <mat-icon class="text-white" [svgIcon]="'heroicons_outline:chart-bar-square'"></mat-icon>
            </span>
            <div class="mt-4 text-xl font-medium">Simple Analytics</div>
            <div class="text-secondary mt-2 leading-6">
              Simple analytics with no unnecessary data flow or weight. More readable results with less data consumption.
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--    CTA-->
    <div class="bg-primary-600 text-on-primary-600 rounded-bl-2xl rounded-br-2xl px-6 py-10 sm:px-16 sm:py-12">
      <div class="mx-auto flex w-full max-w-7xl flex-col items-center text-center">
        <div class="text-3xl font-extrabold leading-6 sm:text-4xl sm:text-5xl sm:leading-10">Boost your productivity.</div>
        <div class="mt-2 text-3xl font-extrabold leading-6 text-black text-opacity-70 sm:text-4xl sm:text-5xl sm:leading-10">
          Start using Fuse today.
        </div>

        <button mat-flat-button class="fuse-mat-button-large text-primary-800 mt-8 bg-white px-12" (click)="goDown2()">
          <span class="text-lg">Trở thành VIP ngay</span>
        </button>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
