<div class="flex min-w-0 flex-auto flex-col">
  <!-- Header -->

  <div class="flex flex-col bg-transparent">
    <div class="box bottom z-90 w-full bg-gradient-to-b from-white via-indigo-100 to-pink-100" [class.box-hover]="isButtonHovered">
      <div class="mx-auto flex w-full max-w-screen-xl flex-col px-6 sm:px-8">
        <!--Wellcome-->
        <div class="my-8 flex min-w-0 flex-auto flex-col sm:my-12 sm:flex-row sm:items-center">
          <!-- Avatar and name -->
          <div class="flex min-w-0 flex-auto items-center">
            <div class="flex-0 h-16 w-16 overflow-hidden rounded-full">
              <img class="h-full w-full object-cover" src="images/avatars/brian-hughes.jpg" />
            </div>
            <div class="ml-4 flex min-w-0 flex-col">
              <ng-container *transloco="let t">
                <div class="truncate text-2xl font-semibold leading-7 tracking-tight md:text-5xl md:leading-snug">
                  {{ t('welcome-back') }}, Brian!
                </div>
              </ng-container>
              <div class="flex items-center">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:bell'"></mat-icon>
                <div class="text-secondary ml-1.5 truncate leading-6">You have 2 new messages and 15 new tasks</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Visit record Button -->
    <a
      class="trackingButton bg-default border-primary z-90 -mt-10 flex h-20 w-20 cursor-pointer items-center justify-center self-center rounded-full border-4"
      matRipple
      pTooltip="Hôm nay mẹ đi khám"
      tooltipPosition="top"
      [routerLink]="'/record'"
      (mouseenter)="isButtonHovered = true"
      (mouseleave)="isButtonHovered = false"
    >
      <i>
        <svg xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewBox="0 0 256 256">
          <path
            fill="#fff"
            d="m232.49 55.51l-32-32a12 12 0 0 0-17 0l-96 96A12 12 0 0 0 84 128v32a12 12 0 0 0 12 12h32a12 12 0 0 0 8.49-3.51l96-96a12 12 0 0 0 0-16.98M192 49l15 15l-11 11l-15-15Zm-69 99h-15v-15l56-56l15 15Zm105-7.43V208a20 20 0 0 1-20 20H48a20 20 0 0 1-20-20V48a20 20 0 0 1 20-20h67.43a12 12 0 0 1 0 24H52v152h152v-63.43a12 12 0 0 1 24 0"
          />
        </svg>
      </i>
    </a>
  </div>

  <!-- Main -->
  <div class="-mt-px flex-auto pt-4 sm:pt-6">
    <div class="mx-auto w-full max-w-screen-xl">
      <mat-tab-group class="sm:px-2" mat-stretch-tabs="false" [animationDuration]="'0'">
        <mat-tab label="Bé con">
          <ng-template matTabContent>
            <!--Tính ngày dự sinh-->
            <div class="mb-6 grid w-full min-w-0 grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-4">
              <!-- Content -->
              <fuse-card class="flex w-full flex-col p-6 md:col-span-3" #expandableCard01="fuseCard">
                <!--              <div class="bg-card  flex-col gap-6 overflow-hidden rounded-2xl p-6 shadow ">-->
                <div class="flex items-start justify-between md:col-span-2">
                  <div class="text-3xl font-bold leading-none tracking-tight text-pink-500 sm:text-4xl">Tính Ngày Dự Sinh</div>
                  <div class="-mr-3 -mt-2 ml-2">
                    <button mat-icon-button>
                      <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:calculator'"></mat-icon>
                    </button>
                  </div>
                </div>

                <div class="text-lg font-medium"><i>"Giúp Mẹ dự đoán được ngày dự sinh của bé để có sự chuẩn bị tốt nhất"</i></div>
                <form class="mt-8 flex flex-col overflow-hidden" [formGroup]="countDownForm" (ngSubmit)="calculateExpectedDate()">
                  <div class="grid gap-6 md:grid-cols-2">
                    <!--Ngày đầu chu kì kinh cuối-->
                    <div class="flex w-full flex-col">
                      <mat-form-field class="flex-auto">
                        <mat-label>Ngày đầu tiên của kỳ kinh cuối</mat-label>
                        <input matInput [matDatepicker]="picker1" formControlName="lastMenstrualPeriod" placeholder="Chọn một ngày" />
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <!--Chu kì kinh cuối-->
                    <div class="gt-xs:flex-row flex w-full flex-col">
                      <mat-form-field class="gt-xs:pr-3 flex-auto">
                        <mat-label>Chu kỳ kinh nguyệt</mat-label>
                        <mat-select formControlName="menstrualCycle">
                          <mat-option value="15">15 Ngày</mat-option>
                          <mat-option value="16">16 Ngày</mat-option>
                          <mat-option value="17">17 Ngày</mat-option>
                          <mat-option value="18">18 Ngày</mat-option>
                          <mat-option value="19">19 Ngày</mat-option>
                          <mat-option value="20">20 Ngày</mat-option>
                          <mat-option value="21">21 Ngày</mat-option>
                          <mat-option value="22">22 Ngày</mat-option>
                          <mat-option value="23">23 Ngày</mat-option>
                          <mat-option value="24">24 Ngày</mat-option>
                          <mat-option value="25">25 Ngày</mat-option>
                          <mat-option value="26">26 Ngày</mat-option>
                          <mat-option value="27">27 Ngày</mat-option>
                          <mat-option value="28">28 Ngày</mat-option>
                          <mat-option value="29">29 Ngày</mat-option>
                          <mat-option value="30">30 Ngày</mat-option>
                          <mat-option value="31">31 Ngày</mat-option>
                          <mat-option value="32">32 Ngày</mat-option>
                          <mat-option value="33">33 Ngày</mat-option>
                          <mat-option value="34">34 Ngày</mat-option>
                          <mat-option value="35">35 Ngày</mat-option>
                          <mat-option value="36">36 Ngày</mat-option>
                          <mat-option value="37">37 Ngày</mat-option>
                          <mat-option value="38">38 Ngày</mat-option>
                          <mat-option value="39">39 Ngày</mat-option>
                          <mat-option value="40">40 Ngày</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <button
                    class="fuse-mat-button-large mt-6 w-full"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="!countDownForm.valid"
                    (click)="expandableCard01.expanded = true"
                  >
                    Xem Kết Quả Ngay
                  </button>
                </form>
                <ng-container fuseCardExpansion>
                  <div class="mt-10 flex flex-col items-center">
                    <div class="text-3xl leading-none tracking-tight">Chúc mừng bé được sinh vào ngày</div>
                    <div class="mt-3 text-4xl font-bold leading-none tracking-tight text-red-500">{{ formatDate }}</div>
                    <div class="mt-3">
                      <strong>Lưu ý: </strong>Công cụ này chỉ mang tính tham khảo. Bạn nên hỏi ý kiến bác sĩ để có được ngày dự sinh chính xác.
                    </div>
                    <button class="px-3" mat-button [color]="'primary'" (click)="expandableCard01.expanded = !expandableCard01.expanded">
                      <mat-icon
                        class="icon-size-5 rotate-0 transition-transform duration-150 ease-in-out"
                        [ngClass]="{
                          'rotate-180': expandableCard01.expanded,
                        }"
                        [svgIcon]="'heroicons_mini:chevron-down'"
                      ></mat-icon>
                    </button>
                  </div>
                </ng-container>
              </fuse-card>
              <!-- Lịch countdown  -->
              <div
                class="bg-card relative flex h-80 flex-auto flex-col rounded-2xl"
                style="
                  box-shadow:
                    0 1px 1px rgba(0, 0, 0, 0.15),
                    0 10px 0 -5px #eee,
                    0 10px 1px -4px rgba(0, 0, 0, 0.15),
                    0 20px 0 -10px #eee,
                    0 20px 1px -9px rgba(0, 0, 0, 0.15);
                "
              >
                <div class="flex h-full flex-col">
                  <div class="h-1/3 w-full self-start rounded-t-2xl bg-pink-500 pt-10">
                    <div class="mt-1 text-center text-4xl font-extrabold leading-tight tracking-tight">
                      <div class="text-pink-100" style="color: #fcedd8; font-family: 'Niconne', cursive; text-shadow: 2px 2px 0px #eb452b">
                        <i>Đếm ngược kỳ diệu</i>
                      </div>
                    </div>
                  </div>
                  <div class="flex h-2/3 w-full items-center justify-center">
                    <div class="flex flex-col items-center">
                      <div class="text-7xl font-bold leading-none tracking-tight text-red-500 sm:text-8xl">299</div>
                      <div class="text-xl font-medium text-red-600 dark:text-red-500">Ngày Còn Lại</div>
                    </div>
                  </div>
                </div>

                <div class="z-90 absolute -top-2 right-0 flex w-full justify-around">
                  <div class="h-8 w-4 rounded-full bg-pink-950"></div>
                  <div class="h-8 w-4 rounded-full bg-pink-950"></div>
                </div>
                <div class="absolute right-0 top-2 z-10 flex w-full justify-around">
                  <div class="h-6 w-6 rounded-full bg-pink-200"></div>
                  <div class="h-6 w-6 rounded-full bg-pink-200"></div>
                </div>
              </div>
            </div>

            <!-- carousel -->
            <div class="bg-card mb-6 flex flex-auto flex-col overflow-hidden rounded-2xl shadow sm:col-span-2 md:col-span-4">
              <div class="carousel">
                <!-- list item -->
                <div class="list">
                  <div class="item">
                    <img src="images/fetal-growth/Female_View_0001.jpg" />
                    <!--                    <div class="content">-->
                    <!--                      <div class="author">LUNDEV</div>-->
                    <!--                      <div class="title">DESIGN SLIDER</div>-->
                    <!--                      <div class="topic">ANIMAL</div>-->
                    <!--                      <div class="des">-->
                    <!--                        &lt;!&ndash; lorem 50 &ndash;&gt;-->
                    <!--                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque-->
                    <!--                        officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo,-->
                    <!--                        laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?-->
                    <!--                      </div>-->
                    <!--                      <div class="buttons">-->
                    <!--                        <button>SEE MORE</button>-->
                    <!--                        <button>SUBSCRIBE</button>-->
                    <!--                      </div>-->
                    <!--                    </div>-->
                  </div>
                  <div class="item">
                    <img src="images/fetal-growth/Female_View_0002.jpg" />
                    <!--                    <div class="content">-->
                    <!--                      <div class="author">LUNDEV</div>-->
                    <!--                      <div class="title">DESIGN SLIDER</div>-->
                    <!--                      <div class="topic">ANIMAL</div>-->
                    <!--                      <div class="des">-->
                    <!--                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque-->
                    <!--                        officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo,-->
                    <!--                        laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?-->
                    <!--                      </div>-->
                    <!--                      <div class="buttons">-->
                    <!--                        <button>SEE MORE</button>-->
                    <!--                        <button>SUBSCRIBE</button>-->
                    <!--                      </div>-->
                    <!--                    </div>-->
                  </div>
                  <div class="item">
                    <img src="images/fetal-growth/Female_View_0003.jpg" />
                    <div class="content">
                      <div class="author">LUNDEV</div>
                      <div class="title">DESIGN SLIDER</div>
                      <div class="topic">ANIMAL</div>
                      <div class="des">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque
                        officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo,
                        laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                      </div>
                      <div class="buttons">
                        <button>SEE MORE</button>
                        <button>SUBSCRIBE</button>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <img src="images/fetal-growth/Female_View_0004.jpg" />
                    <div class="content">
                      <div class="author">LUNDEV</div>
                      <div class="title">DESIGN SLIDER</div>
                      <div class="topic">ANIMAL</div>
                      <div class="des">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque
                        officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo,
                        laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                      </div>
                      <div class="buttons">
                        <button>SEE MORE</button>
                        <button>SUBSCRIBE</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- list thumnail -->
                <div class="thumbnail">
                  <div class="item">
                    <img src="images/fetal-growth/Baby_View_0001.jpg" />
                    <div class="content">
                      <div class="title">Name Slider</div>
                      <div class="description">Description</div>
                    </div>
                  </div>
                  <div class="item">
                    <img src="images/fetal-growth/Baby_View_0002.jpg" />
                    <div class="content">
                      <div class="title">Name Slider</div>
                      <div class="description">Description</div>
                    </div>
                  </div>
                  <div class="item">
                    <img src="images/fetal-growth/Baby_View_0003.jpg" />
                    <div class="content">
                      <div class="title">Name Slider</div>
                      <div class="description">Description</div>
                    </div>
                  </div>
                  <div class="item">
                    <img src="images/fetal-growth/Baby_View_0004.jpg" />
                    <div class="content">
                      <div class="title">Name Slider</div>
                      <div class="description">Description</div>
                    </div>
                  </div>
                </div>
                <!-- next prev -->

                <div class="arrows">
                  <button id="prev"><</button>
                  <button id="next">></button>
                </div>
                <!-- time running -->
                <div class="time"></div>
              </div>
            </div>

            <!--Thai nhi-->
            <div class="grid w-full min-w-0 grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-4">
              <!-- Cấu trúc thai -->
              <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow sm:col-span-2 md:col-span-4 lg:col-span-2">
                <mat-slider min="0" max="40" step="1" showTickMarks discrete (input)="onSliderChange($event)">
                  <input matSliderThumb value="{{ countWeek }}}" />
                </mat-slider>
                <div class="relative mt-6 flex flex-auto flex-col">
                  <!--            Hình ảnh mẹ-->
                  <img class="" [src]="'/images/fetal-growth/Female_View_' + countWeek + '.jpg'" [alt]="'mẹ tuần ' + countWeek" />

                  <!--            Hình ảnh thai nhi-->
                  @if (countWeek > '0002') {
                    <div
                      class="absolute left-5 top-0 size-72 overflow-hidden rounded-full bg-gradient-to-tr from-pink-500 to-red-500 p-3"
                      style="
                        box-shadow:
                          inset 0 1px 2px rgba(0, 0, 0, 0.05),
                          0 10px 15px -3px rgba(236, 72, 153, 0.5),
                          0 4px 6px -2px rgba(236, 72, 153, 0.5);
                      "
                    >
                      <img
                        class="rounded-full"
                        style="box-shadow: inset 0 8px 16px rgba(0, 0, 0, 0.25)"
                        [src]="'/images/fetal-growth/Baby_View_' + countWeek + '.jpg'"
                        [alt]="'con tuần ' + countWeek"
                      />
                    </div>
                  }
                  <!--            Câu nhắc tuần xuất khám-->
                </div>

                <div class="-m-6 mt-4 grid grid-cols-2 divide-x border-t bg-gray-50 dark:bg-transparent">
                  <div class="flex flex-col items-center justify-center p-6 sm:p-8">
                    <div class="text-5xl font-semibold leading-none tracking-tighter">
                      <!--                {{ data.taskDistribution.overview[taskDistributionWeekSelector.value]['new'] }}-->
                      <!--                Data của ngày dự sinh-->
                    </div>
                    <div class="text-secondary mt-1 text-center">Dự sinh</div>
                    <div class="text-secondary mt-1 text-center">Ngày xxx</div>
                  </div>
                  <div class="flex flex-col items-center justify-center p-6 sm:p-8">
                    <div class="text-5xl font-semibold leading-none tracking-tighter">
                      <!--                {{ data.taskDistribution.overview[taskDistributionWeekSelector.value]['completed'] }}-->
                      <!--                Data của -->
                    </div>
                    <div class="text-secondary mt-1 text-center">Cân nặng chuẩn: {{ weekData[countWeek].size }}</div>
                    <div class="text-secondary mt-1 text-center">{{ weekData[countWeek].sizeDescription }}</div>
                  </div>
                </div>
              </div>
              <!-- Quan lý thai nhi -->
              <div class="bg-card max-h-140 flex flex-auto flex-col overflow-y-auto rounded-2xl p-6 shadow sm:col-span-2 md:col-span-4 lg:col-span-2">
                <app-pregnancy-week-info [countWeek]="countWeekNumber"></app-pregnancy-week-info>
              </div>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
      <mat-tab-group class="sm:px-2" mat-stretch-tabs="false" [animationDuration]="'0'">
        <mat-tab label="Bài viết nên đọc">
          <ng-template matTabContent class="overflow-auto">
            <app-recommended-blogs></app-recommended-blogs>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
