<div class="flex w-full flex-auto flex-col">
  <div class="mx-auto flex w-full max-w-screen-xl flex-wrap p-6 md:p-8">
    <div class="bg-card mt-8 flex flex-auto flex-col overflow-visible rounded-2xl shadow">
      <div class="m-6 mb-0 flex items-start justify-between">
        <div class="truncate text-lg font-medium leading-6 tracking-tight">Visitors vs. Page Views</div>
        <div class="ml-2">
          <button class="bg-hover h-6 min-h-6 rounded-full px-2" mat-button [matMenuTriggerFor]="conversionMenu">
            <span class="text-secondary text-sm font-medium">30 days</span>
          </button>
          <mat-menu #conversionMenu="matMenu">
            <button mat-menu-item>30 days</button>
            <button mat-menu-item>3 months</button>
            <button mat-menu-item>9 months</button>
          </mat-menu>
        </div>
      </div>
      <div class="mt-3 flex h-80 flex-auto flex-col">
        <apx-chart
          class="h-full w-full flex-auto"
          [chart]="chartData.chart"
          [colors]="chartData.colors"
          [dataLabels]="chartData.dataLabels"
          [grid]="chartData.grid"
          [legend]="chartData.legend"
          [series]="chartData.series"
          [stroke]="chartData.stroke"
          [tooltip]="chartData.tooltip"
          [xaxis]="chartData.xaxis"
          [yaxis]="chartData.yaxis"
        ></apx-chart>
      </div>
    </div>
  </div>
</div>
