<!--<div>-->
<!--  <section class="content flex">-->
<!--    <nav tuiTabs vertical="left" class="left">-->
<!--      <button tuiButton size="s">Chỉ số</button>-->
<!--      <button tuiTab type="button">Item 2</button>-->
<!--    </nav>-->
<!--    <div>-->
<!--      <p>-->
<!--        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec ultricies enim, vel molestie orci. In finibus-->
<!--        diam ac nulla accumsan, vel condimentum lorem ultricies. In feugiat mauris sem, ac ultricies metus aliquet nec.-->
<!--        Ut a iaculis metus, id vestibulum justo. Nulla id ante semper, aliquam augue vitae, sollicitudin massa. Sed-->
<!--        congue nisi sed ullamcorper mollis. Vivamus volutpat non est a vestibulum. Sed in elementum odio. Proin a lectus-->
<!--        ac quam vulputate ornare nec id mi. Maecenas pharetra ultricies efficitur. Etiam sit amet vulputate elit. Donec-->
<!--        ut dapibus nunc. Nullam vestibulum diam eros, ac euismod velit porta ac. Ut ut auctor velit. Nulla ac lobortis-->
<!--        erat, ut tempor neque.-->
<!--      </p>-->
<!--      <p>-->
<!--        Donec quis lacus leo. Mauris quis vestibulum mauris. Sed hendrerit odio id blandit iaculis. Nulla ac gravida-->
<!--        ligula, tristique tempus eros. Mauris efficitur risus quis arcu pharetra, eu semper ex rutrum. Aenean justo-->
<!--        felis, imperdiet non justo vel, fringilla maximus nibh. Vestibulum ut imperdiet ex, vel varius odio. Nunc nec-->
<!--        lorem non odio mollis porta. In gravida accumsan lacus, vitae egestas lectus aliquet sed. Morbi justo orci,-->
<!--        fringilla sit amet consectetur vel, consectetur a nibh. Sed eu porttitor ante. Morbi imperdiet ligula id velit-->
<!--        dignissim malesuada. Vestibulum blandit posuere sem.-->
<!--      </p>-->
<!--    </div>-->
<!--  </section>-->
<!--</div>-->
<!--<div class="dashboard">-->
<!--  <h1>Dashboard - user has logged in</h1>-->

<!--  <p>-->
<!--    {{ profile() | json }}-->
<!--  </p>-->

<!--  <button (click)="logOut()">LogOut</button>-->
<!--</div>-->

<div class="flex">
  <aside class="light h-96" [tuiNavigationAside]="expandedSignal()" tuiTheme="light">
    <button automation-id="hint" iconStart="@tui.heart" tuiAsideItem type="button">
      <span tuiFade>By default ellipsis is used but you can use fade too</span>
    </button>

    <hr />
    <button iconStart="@tui.plus" tuiAsideItem type="button">Add</button>
    <footer>
      <button iconStart="@tui.star" tuiAsideItem type="button">Favorites</button>
      <button tuiAsideItem type="button" [iconStart]="expandedSignal() ? '@tui.chevron-left' : '@tui.chevron-right'" (click)="handleToggle()">
        {{ expandedSignal() ? 'Collapse' : 'Expand' }}
      </button>
    </footer>
  </aside>
  <main tuiNavigationMain>
    <nav compact tuiSubheader [style.position]="'sticky'">
      <tui-breadcrumbs [itemsLimit]="10">
        <ng-container *ngFor="let item of breadcrumbs; let last = last">
          <ng-container *ngIf="last">
            <strong *tuiItem tuiFade>
              {{ item }}
            </strong>
          </ng-container>
          <ng-container *ngIf="!last">
            <button *tuiItem tuiLink type="button">
              {{ item }}
            </button>
          </ng-container>
        </ng-container>
      </tui-breadcrumbs>
      <tui-tabs tuiFade>
        <button tuiTab type="button">Default view</button>
        <button tuiTab type="button">Details</button>
        <button tuiTab type="button">Followers</button>
      </tui-tabs>
      <button appearance="secondary" tuiButton type="button">Secondary</button>
      <button tuiButton type="button">Primary</button>
    </nav>
    <ng-container *tuiRepeatTimes="let index of 10">
      <form tuiAppearance="floating" tuiCardLarge tuiForm="m" [style.grid-column]="'2 / span 7'" [style.margin-top.rem]="1">
        <header tuiHeader>
          <h2 tuiTitle>
            Registration form
            <span tuiSubtitle>Tell us about yourself</span>
          </h2>
        </header>
        <tui-textfield>
          <label tuiLabel>Name</label>
          <input placeholder="John Wick" tuiTextfield />
        </tui-textfield>
        <footer>
          <button appearance="secondary" tuiButton type="button">Cancel</button>
          <button tuiButton type="submit">Ok</button>
        </footer>
      </form>
      <div tuiAppearance="outline-grayscale" tuiCardLarge [style.grid-column]="'span 3'" [style.margin-top.rem]="1">
        <h2 tuiTitle>
          Sidebar content
          <span tuiSubtitle>Use CSS grid to position</span>
        </h2>
      </div>
    </ng-container>
  </main>
</div>
